# Prevent PATH and LD_LIBRARY path from leaking into build.
# See https://github.com/bazelbuild/bazel/issues/6648
# Will be removed in future Bazel releases.
build --incompatible_strict_action_env=true

# Use new toolchain-based C/C++ configuration.
# See https://github.com/bazelbuild/bazel/issues/7260
# To be removed in Bazel 7.0.0.
build --incompatible_enable_cc_toolchain_resolution

# Build with libFuzzer and address sanitizer
build:asan-libfuzzer --action_env=CC=clang
build:asan-libfuzzer --action_env=CXX=clang++
build:asan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine=@rules_fuzzing//fuzzing/engines:libfuzzer
build:asan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine_instrumentation=libfuzzer
build:asan-libfuzzer --@rules_fuzzing//fuzzing:cc_engine_sanitizer=asan
