*ATTIC*
/build
bin
dump
unit-test
tmp

genhtml/
target/
*.lcov
*.profraw

# GDB
.gdb_history

# Clangd
.cache
.clangd
compile_commands.json

# Rust
**/Cargo.lock

# Dependencies
opt/
opt-msan/
deps-bundle.tar.zst

# Nix
/result

# Vimdiff
*.orig

# Vim
*.swp
*.swo

# VSCode
.vscode

# Packet Captures
*.pcap
*.pcapng

# Logs
*.log

# VitePress docs
/book/.vitepress/cache
/book/.vitepress/dist
/book/node_modules
/book/bun.lockb

# TVU
testnet.toml
mainnet.toml
sim.toml
backtest.toml
testnet.sh
mainnet.sh
sim.sh
backtest.sh
