*ATTIC*
/build
bin
dump
unit-test
tmp

genhtml/
target/
*.lcov
*.profraw

# Clangd
.cache
.clangd
compile_commands.json

# Rust
**/Cargo.lock

# Dependencies
opt/
deps-bundle.tar.zst

# Nix
/result

# Vimdiff
*.orig

# Vim
*.swp
*.swo

# VSCode
.vscode

# Packet Captures
*.pcap
*.pcapng

# Logs
*.log

# VitePress docs
/book/.vitepress/cache
/book/.vitepress/dist
/book/node_modules

# TVU
testnet.toml
mainnet.toml
mainnet.sh
testnet.sh
incremental-snapshot-*
snapshot-*
