*ATTIC*
/build
bin
unit-test
tmp
.last_checked
src/app/fdctl/run/tiles/generated/http_import_dist.c
src/app/fdctl/run/tiles/generated/http_import_dist.h

genhtml/
target/
*.lcov
*.profraw

# GDB
.gdb_history

# Clangd
.cache
.clangd

# Rust
**/Cargo.lock

# Dependencies
opt/
deps-bundle.tar.zst

# Nix
/result

# Vimdiff
*.orig

# Vim
*.swp
*.swo

# Packet Captures
*.pcap
*.pcapng

# Logs
*.log

# VitePress docs
/book/.vitepress/cache
/book/.vitepress/dist
/book/node_modules
/book/bun.lockb
