/CODEOWNERS @firedancer-admin

/agave @0x0ece @anwayde @jherrera-jump @ptaffet-jump @mmcgee-jump

/config @ripatel-fd
/src/ballet/txn/fd_txn_parse.c @ptaffet-jump
/src/choreo @lidatong @emwang-jump
/src/disco/pack @ptaffet-jump @mmcgee-jump
/src/disco/shred @ptaffet-jump @mmcgee-jump
/src/disco/reasm @lidatong @emwang-jump
/src/disco/store @lidatong @emwang-jump
/src/discof/repair @lidatong @emwang-jump
/src/waltz/quic @nbridge-jump @ripatel-fd @akhinvasara-jumptrading
/src/waltz/tls @ripatel-fd @mmcgee-jump
/src/waltz/xdp @ripatel-fd @mmcgee-jump
