[layout]
    bank_tile_count = 1

    # TODO: add docs on exec_tile_cnt / exec tile
    exec_tile_count = 2

[gossip]
    port = 8700

[tiles]
    [tiles.repair]
        repair_intake_listen_port = 8701
        repair_serve_listen_port = 8702

    [tiles.replay]
        funk_sz_gb = 32
        funk_rec_max = 10000000
        funk_txn_max = 1024
        cluster_version =  "1.18.0"
        disable_bank_hash_cmp = false
    [tiles.pack]
        use_consumed_cus = false
    [tiles.restart]
        in_wen_restart = false
    [tiles.archiver]
        enabled = false

[consensus]
    vote = true

[blockstore]
    shred_max = 16384
    block_max = 512
    txn_max = 1048576
    idx_max = 512
    alloc_max = 10737418240
    file = "/tmp/default.blockstore"

[development]
    no_clone = true
