---
version: "3.8"
services:
  firedancer:
    image: firedancer_ubuntu2204:latest 
# increment this if building a new version
    image: firedancer_ubuntu2204:0.1
    volumes:
      - /data/firedancer:/home/firedancer/.firedancer:Z
      - /data/firedancer/log:/opt/firedancer/log:Z
    ipc: host
    network_mode: "host"
    privileged: true
    command: fddev --config /opt/firedancer/config/default.toml dev 
    build:
      context: ../ubuntu2004
      args:
# Defaults provided both here and in Dockerfile. This will override values in Dockerfile.
        BUILDER_BASE_IMAGE: ubuntu@sha256:bcc511d82482900604524a8e8d64bf4c53b2461868dac55f4d04d660e61983cb #22.04 2024-01-25T17:54:41.023950033Z
        RELEASE_BASE_IMAGE: ubuntu@sha256:bcc511d82482900604524a8e8d64bf4c53b2461868dac55f4d04d660e61983cb #22.04 2024-01-25T17:54:41.023950033Z
        MACHINE: linux_gcc_x86_64
        RUST_VERSION: 1.73.0
# We can define a release, tag, or branch rather than main. Defaults to main if undefined.
        GITTAG:
