name: Publish to ClusterFuzz
on:
  workflow_call:
  workflow_dispatch:
jobs:
  clusterfuzz-publish:
    timeout-minutes: 30
    environment:
      name: clusterfuzz
      url: 'https://isol-clusterfuzz.appspot.com/'
    strategy:
      matrix:
        machine:
          - linux_clang_haswell
          - linux_clang_icelake
        include:
          - machine: linux_clang_haswell
            artifact_dir: build/linux/clang/haswell
            qualifier: modern
          - machine: linux_clang_icelake
            artifact_dir: build/linux/clang/icelake
            qualifier: highend
    runs-on:
      group: github-v1
    env:
      MACHINE: ${{ matrix.machine }}
      EXTRAS: fuzz asan ubsan
      BUILDDIR: clang-fuzz
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: ./.github/actions/hugepages
      - uses: ./.github/actions/deps

      - run: sudo apt update && sudo apt install -y zip

      - uses: asymmetric-research/clusterfuzz-fuzzbot-builder@main
        name: Build fuzz tests
        with:
          command: make -j -Otarget fuzz-test lib

      - name: ClusterFuzz directory structure
        run: |
          ls ${{ matrix.artifact_dir }}/fuzz-test
          ls ${{ matrix.artifact_dir }}/lib
          mkdir cf-dist
          find build/clang-fuzz/fuzz-test -maxdepth 1 -executable -print | while read -r BIN_PATH; do TARGET=$(basename "$BIN_PATH"); mkdir cf-dist/$TARGET && mv $BIN_PATH cf-dist/$TARGET/$TARGET; done

      - uses: asymmetric-research/firedancer-clusterfuzz-action@main
        name: Upload fuzz targets to ClusterFuzz
        with:
          bucket-name: firedancer-builds.isol-clusterfuzz.appspot.com
          artifact-dir: cf-dist
          object-prefix: main/libfuzzer/${{ matrix.qualifier }}/firedancer
          project-id: isol-clusterfuzz
          qualifier: ${{ matrix.qualifier }}
          service-account-credentials: ${{ secrets.FUZZ_SERVICE_ACCT_JSON_BUNDLE }}

  solfuzz-publish:
    timeout-minutes: 30
    runs-on:
      group: github-v1
    env:
      MACHINE: linux_clang_haswell
      OBJ_DIR: build/linux/clang/haswell
      EXTRAS: fuzz asan
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: ./.github/actions/hugepages
      - uses: ./.github/actions/deps

      - run: sudo apt update && sudo apt install -y zip

      - uses: asymmetric-research/clusterfuzz-fuzzbot-builder@main
        name: Build fuzz tests
        with:
          command: make -j -Otarget fuzz-test lib

      - name: List Artifacts
        run: |
          ls ${{ env.OBJ_DIR }}/fuzz-test
          ls ${{ env.OBJ_DIR }}/lib

      - name: upload so artifact
        uses: actions/upload-artifact@v4
        with:
          path: ${{ env.OBJ_DIR }}/lib/libfd_exec_sol_compat.so
          name: libfd_exec_sol_compat
          retention-days: 14
      
      - name: upload stubbed so artifact
        uses: actions/upload-artifact@v4
        with:
          path: ${{ env.OBJ_DIR }}/lib/libfd_exec_sol_compat_stubbed.so
          name: libfd_exec_sol_compat_stubbed
          retention-days: 14
