name: Publish to ClusterFuzz
on:
  workflow_call:
  workflow_dispatch:
jobs:
  clusterfuzz-publish:
    environment:
      name: clusterfuzz
      url: 'https://isol-clusterfuzz.appspot.com/'
    strategy:
      matrix:
        machine:
          - linux_clang_haswell
          - linux_clang_icelake
        include:
          - machine: linux_clang_haswell
            artifact_dir: build/linux/clang/haswell
            qualifier: modern
          - machine: linux_clang_icelake
            artifact_dir: build/linux/clang/icelake
            qualifier: highend
    runs-on:
      group: github-v1
    env:
      MACHINE: ${{ matrix.machine }}
      EXTRAS: fuzz asan ubsan
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/hugepages
      - uses: ./.github/actions/deps

      - run: sudo apt update && sudo apt install -y zip

      - uses: asymmetric-research/clusterfuzz-fuzzbot-builder@main
        name: Build fuzz tests
        with:
          command: make -j -Otarget fuzz-test

      - name: List Artifacts
        run: |
          ls ${{ matrix.artifact_dir }}/fuzz-test

      - uses: asymmetric-research/firedancer-clusterfuzz-action@main
        name: Upload fuzz targets to ClusterFuzz
        with:
          bucket-name: firedancer-builds.isol-clusterfuzz.appspot.com
          artifact-dir: ${{ matrix.artifact_dir }}/fuzz-test
          object-prefix: main/libfuzzer/${{ matrix.qualifier }}/firedancer
          project-id: isol-clusterfuzz
          qualifier: ${{ matrix.qualifier }}
          service-account-credentials: ${{ secrets.FUZZ_SERVICE_ACCT_JSON_BUNDLE }}
