name: All Coverage
on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
        - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  all-coverage:
    name: All Coverage
    runs-on:
      group: github-v1
    environment:
      name: github-pages
      url: ${{ steps.pages-deploy.outputs.page_url }}
    env:
      CC: clang
      EXTRAS: llvm-cov
    steps:
      - name: Install Dependencies
        run: sudo apt-get update && sudo apt-get install -y llvm lcov

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: ./.github/actions/hugepages

      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: ${{ secrets.FUZZ_SERVICE_ACCT_JSON_BUNDLE }}

      - name: Generate all coverage
        run: ./.github/workflows/scripts/cov_all.sh

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          # Upload entire repository
          path: './build/pages/'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
