name: Doxygen
on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:
jobs:
  doxygen:
    timeout-minutes: 20
    name: Doxygen
    runs-on: rocky810
    environment:
      name: doxygen
      url: ${{ vars.DOXYGEN_URL }}
    steps:
      - uses: actions/checkout@v5
      - uses: 'google-github-actions/setup-gcloud@v2'

      - name: Dependencies
        run: sudo dnf install -y clang-devel llvm-devel sqlite-devel graphviz cmake curl-devel
      - run: contrib/doxygen/build.sh

      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v3'
        with:
          credentials_json: ${{ secrets.FUZZ_SERVICE_ACCT_JSON_BUNDLE }}

      - name: Upload artifact
        run: |
          gcloud storage rm -r ${{ vars.DOXYGEN_BUCKET }}/ || true
          gcloud storage cp -r ./contrib/doxygen/dist/html/* ${{ vars.DOXYGEN_BUCKET }}/
