name: FiredancerOS
on:
  workflow_call:
  workflow_dispatch:
concurrency:
  group: fdos_${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  build_fdos:
    timeout-minutes: 10
    runs-on:
      labels: ${{ matrix.label }}
      group: fd-public-repo
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
      - run: pip install meson

      - uses: ./.github/actions/deps
        with:
          extras: "+embedded"

      - name: build
        run: |
          make -j MACHINE=fdos_kern_x86 -Otarget lib
