name: Functional Tests
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  single-transaction:
    runs-on:
      group: github-v1
    env:
      CC: gcc
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: dtolnay/rust-toolchain@1.69.0

      - name: Build everything
        run: make -j -Otarget fddev unit-test

      - name: Run functional tests
        run: |
          ./src/test/single-transaction.sh
