name: Make Test
on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  make-test:
    runs-on: [self-hosted, Linux, X64]
    defaults:
      run:
        shell: bash --noprofile --norc -eo pipefail -c "set -ex; source /home/runner/firedancer-opts/activate-opt && chmod +x {0} && {0}"
    steps:
      - uses: actions/checkout@v3

      - name: Copy prebuilt deps
        run: "cp -r /home/runner/firedancer-opts/opt . && ls -lah opt"

      - name: Build everything
        run: make -j

      - name: Run unit tests
        run: make -k -j4 --output-sync=target run-unit-test
