name: On Main Push
on:
  push:
    branches: [main]
jobs:
  book:
    uses: ./.github/workflows/book.yml
    secrets: inherit
    permissions:
      contents: read
      pages: write
      id-token: write

  fcng_intree_fuzzers:
    uses: ./.github/workflows/fcng_intree_fuzzers.yml
    secrets: inherit
