name: On Nightly
on:
  workflow_dispatch:
  schedule:
    - cron: 0 4 * * *
jobs:
  coverage-report:
    uses: ./.github/workflows/coverage_report.yml
    secrets: inherit
  codeql:
    uses: ./.github/workflows/codeql.yml
    permissions:
      security-events: write
  builds:
    uses: ./.github/workflows/builds.yml
    with:
        # compiler,machine,target
      gcc_exceptions: |
        ALL,linux_gcc_power9,ALL;
        ALL,linux_gcc_arm_n1,ALL;
        gcc-8.5.0,linux_gcc_zen2,ALL;
        gcc-8.5.0,linux_gcc_zen4,ALL;
        gcc-9.5.0,linux_gcc_zen4,ALL;
        gcc-10.5.0,linux_gcc_zen4,ALL;
        gcc-11.4.0,linux_gcc_zen4,ALL;
        ALL,linux_gcc_riscv,ALL
      verbose: false
      build_arm: true
