name: On Pull Request
on:
  merge_group:
  pull_request:
    types: [synchronize, opened, reopened, ready_for_review]
concurrency:
  group: on-pull-request_${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  tests:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/tests.yml
    secrets: inherit
  backtest:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/backtest.yml
    secrets: inherit
  benchmark:
    if: github.event.pull_request.draft == false && github.event_name == 'pull_request'
    uses: ./.github/workflows/benchmark.yml
    secrets: inherit
  build_checks_1:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/builds.yml
    with:
      cid: 1
      build_arm: false
      check_run: true
        # compiler,machine,target
      gcc_exceptions: |
        gcc-8.5.0,linux_gcc_zen2,ALL;
        ALL,linux_gcc_riscv,ALL;
        ALL,linux_gcc_power9,ALL;
        ALL,linux_gcc_arm_n1,ALL;
        ALL,linux_gcc_zen4,ALL;
        ALL,linux_gcc_zen5,ALL;
        ALL,linux_gcc_icelake,ALL;
        ALL,linux_gcc_x86_64,ALL
  build_checks_2:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/builds.yml
    with:
      cid: 2
      clang: none
      machine: linux_gcc_icelake,linux_gcc_x86_64
      build_arm: false
      check_run: true
