# Runs unit tests, script tests, and fuzz tests.

name: Tests
on:
  workflow_call:
  workflow_dispatch:
  merge_group:
concurrency:
  group: tests_${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  test:
    strategy:
      # We cannot possibly test everything on every commit.
      # This matrix is a tradeoff between required resources and
      # test coverage.  You should probably only remove machine
      # targets from here, not add more.
      matrix:
        machine:
          - linux_gcc_x86_64      # least capable target
          - linux_gcc_icelake     #  most capable target
          - linux_clang_x86_64
          - linux_clang_icelake
          - native
        # Attach additional params to machine types
        include:
          - machine: linux_gcc_x86_64
            label: X64
          - machine: linux_gcc_icelake
            label: icelake
          - machine: linux_clang_x86_64
            label: X64
          - machine: native
            env: CC=clang
            label: self-hosted
          - machine: linux_clang_icelake
            label: icelake
            extras: asan ubsan
    runs-on: ${{ matrix.label }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: ./.github/actions/deps
      - uses: ./.github/actions/hugepages
      - uses: dtolnay/rust-toolchain@1.73.0

      - name: Run tests
        run: |
          sudo prlimit --pid $$ --memlock=-1:-1
          MACHINES=${{ matrix.machine }} \
          EXTRAS="${{ matrix.extras || '' }}" \
          NOTEST=${{ matrix.notest || '' }} \
          ${{ matrix.env || '' }} \
          contrib/test/ci_tests.sh
