name: TVU
on:
  workflow_call:
  workflow_dispatch:
  pull_request:
jobs:
  TVU:
    runs-on: private
    env:
      CC: gcc
    strategy:
      matrix:
        test_case:
          - test-tvu.sh
          - test-tvu-load.sh
          - test-tvu-fddev.sh
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: ./.github/actions/deps
      - uses: ./.github/actions/hugepages

      - name: build
        run: |
          ./contrib/make-j fddev all

      - name: ./${{ matrix.test_case }}
        run: |
          sudo prlimit --pid=$$ --nofile=1048576
          sudo prlimit --pid=$$ --memlock=unlimited
          ./${{ matrix.test_case }}
