name: Ledgers
on:
  workflow_call:
  workflow_dispatch:
  pull_request:
jobs:
  Ledgers:
    runs-on: icelake
    env:
      CC: gcc
    strategy:
      matrix:
        test_case:
          - run-runtime-test-1
          - run-runtime-test-2
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: ./.github/actions/deps
      - uses: ./.github/actions/hugepages

      - name: build
        run: |
          ./contrib/make-j all

      - name: make ${{ matrix.test_case }}
        run: |
          sudo prlimit --pid $$ --memlock=-1:-1
          make ${{ matrix.test_case }}
