name: Firedancer Testnet Shredcap
on:
  workflow_call:
    inputs:
      machine:
        type: string
        default: linux_gcc_zen2
  workflow_dispatch:
jobs:
  firedancer-testnet-shredcap:
    timeout-minutes: 30
    runs-on: [self-hosted, 512G]
    env:
      CC: gcc
      MACHINE: ${{ inputs.machine }}
      AGAVE_VERSION: v2.0.3
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - uses: ./.github/actions/deps
        with:
          extras: +dev
      - uses: ./.github/actions/cpusonline
      - uses: ./.github/actions/hugepages
        with:
          count_gigantic: 250
          count_huge: 1000 # TODO: this is required until we can handle anonymous workspaces and loose huge pages in fddev

      - name: build
        run: |
          make -j firedancer-dev

      - name: find OBJDIR
        run: |
          echo OBJDIR=$(make help | grep OBJDIR | awk '{print $4}') >> $GITHUB_ENV

      - name: agave repo setup # need for solana-keygen
        run: |
          cd ..
          if [ ! -d "agave" ]; then
            git clone https://github.com/anza-xyz/agave.git
          fi
          cd agave
          git fetch
          git checkout ${{ env.AGAVE_VERSION }}
          source ~/.cargo/env
          ./cargo build --release
          echo "AGAVE_PATH=$(pwd)/target/release" >> $GITHUB_ENV

      - name: run shrecap replay test
        timeout-minutes: 10
        run: |
          sudo prlimit --pid=$$ --nofile=1048576
          sudo prlimit --pid=$$ --memlock=unlimited
          CC=gcc DUMP_DIR=../dump DATA_DIR=/data/svc_firedancer ./contrib/test/run_fd_shred_cap.sh

      - name: clean up validators, keys, and cluster artifacts
        if: always()
        run: |
          sudo rm -rf /data/svc_firedancer/shredcap_testnet.blockstore
          sudo rm -rf /data/svc_firedancer/shredcap_testnet.funk
          sudo rm -rf fd-identity-keypair.json
          sudo rm -rf fd-vote-keypair.json
          sudo rm -rf fd_shredcap.toml
          sudo killall fddev || true
          sudo killall firedancer-dev || true
          sudo $OBJDIR/bin/firedancer-dev configure fini all || true
