name: Trailing Whitespace
on:
  pull_request:
jobs:
  check:
    name: trailing-whitespace
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changes
        run: |
          echo "all=$(git diff --name-only --diff-filter=ACMRT ${{ github.event.pull_request.base.sha }} ${{ github.sha }} | xargs)" >> $GITHUB_OUTPUT

      - uses: actions/setup-python@v6

      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: "--files ${{ steps.changes.outputs.all }}"
